[variables]
VITE_API_URL = "https://ujikomdeploy-production.up.railway.app/api"

[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run preview"
